<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523170538704-2ncldf4gnpdlke6m4gcn5qb50slboade.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523170538704-2ncldf4gnpdlke6m4gcn5qb50slboade</string>
	<key>API_KEY</key>
	<string>AIzaSyDD5TYZLmLHSLwkZt8W0CjlWFvuJaAlmuI</string>
	<key>GCM_SENDER_ID</key>
	<string>523170538704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>squip-2c976</string>
	<key>STORAGE_BUCKET</key>
	<string>squip-2c976.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523170538704:ios:310dc69ad3a8d3704b2ad5</string>
</dict>
</plist>